html, body {
	background: #F7D6E0; 
  margin: 0;
}

* {
  box-sizing: border-box;
}
/*
.gif{
  float: right;
  margin-right: 100px;
  margin-top: 200px;
}
*/
.me_img{
  position: absolute;
  left: 55%;
  top: 1%;
}
.main_img_left{
  position: relative;
  float: left;
}
.header3{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 50px;
}
.about_me_text{
  font-family: 'Old Standard TT', serif;
  text-align: center;
}
.longer_text{
  font-family: 'Old Standard TT', serif;
  text-align: center;
  margin-top: 30px;
  margin-left: 750px;
  margin-right: 30px;
}
.list_right{
  font-family: 'Old Standard TT', serif;
  text-align: left;
  margin-left: 60px ; 
  margin-bottom: 200px;

}
.main_img_right{
  position: relative;
  float: right;
}
.list_left{
  font-family: 'Old Standard TT', serif;
  margin-left: 60px ; 
  font-size: larger;
  float: left;
 
}
.soft_skills{
  margin-top: 400px;
  
}
.strengths{
  float:left;
}
.hard_skills{
  float:left; 
  margin-left: 50px;
  margin-top: 200px;
}
.education_text{
  font-family: 'Old Standard TT', serif;
  float: right;
  margin-right: 100px;
  text-align: center;
}



/* ----Index------*/


.topnav {
  background-color: black ;
  overflow: hidden;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 50px;
}


.topnav a:hover {
  background-color: #F7D6E0;
  color: black;
}


.topnav a.active {
  background-color: #B46565;
  color: white;
  
}
.logo{
  margin-top: 350px;
}
.home{
  float: right;
  margin-left: 50px;
}

